<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <label>
                Name:
            </label>
            <input type="text" name="animal-name"/>
        </div>
        <div>
            <label>
                Breed:
            </label>
            <input type="text" name="breed"/>
        </div>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>