<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        {{#display_flash flash}}
            <li>{{this}}<li>
        {{/display_flash}}
    </ul>

    {{{body}}}

    {{#block scripts}}

    {{/block}}

  </body>
</html>
